{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <h1 class="text-3xl my-1">I140 premium processing times</h1>

    {{ render_chart(chart) }}
{% endblock %}
